@mixin setup {
    * {
        box-sizing: border-box; // Include padding and border in the element's total width and height
    }

    body {
        margin: 0;
        min-height: 100vh;
        font-size: 1.25rem;
        display: grid;
        place-items: center;
    }
}
